<div class = "card">
  <div class = "card-header">
  {{#each postData}}
    <p>id: {{id}}</p>
    <p>User: {{User.username}}</p>
    <p>Title: {{title}}</p>
    </div>
    <p class - "card-body"> Content: {{content}}</p>
  {{/each}}
</div>